body{
  background-color: rgb(18, 18,18);
  font-family: Roboto,Arial;
  padding-top: 76px;
  margin: 0;
  color: white;
  
 }
 body::-webkit-scrollbar {
   background-color:transparent;
  
 }  body::-webkit-scrollbar-thumb{
     background: linear-gradient(red,blue,green);
     border-radius: 20px;
 }